# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby
#
# Code Coverage Setup:
# To enable coverage badge, repository maintainer needs to:
# 1. Sign up at https://codecov.io (free for open-source)
# 2. Add CODECOV_TOKEN as a GitHub repository secret (Settings > Secrets and variables > Actions)
# 3. After first workflow run, the badge in README.md will display coverage percentage

name: Ruby

on:
  push:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '13 13 * * *' # really?  No @daily?

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run tests with coverage
      run: make coverage
      env:
        CI: true
    - name: Run rubocop
      run: make rubocop
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        files: ./coverage/coverage.json
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
